.signup-container{
    background: white;
    border: 1px solid #dbdbdb;
    padding: 40px;
    text-align: center;
    max-width: 250px;
    margin: auto;
    border-radius: 4px;

}

.signup-container input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
   
}
.signup-container button{
    background-color:white;
    color:#1f3c88;
    padding: 10px;
    border: 1px solid #1f3c88;
    border-radius: 4px;
}
.signup-container button:hover{
    background-color: #1f3c88;
    color:white;
}