body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#fcf8f8;
}
.logo {
    font-size: 22px;
    font-weight: bold;
  
}
.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: white;
}
.navbar button{
    flex:1;
    background-color:rgb(44, 39, 39);
    color:white;
    font-size:18px;
    border: 2px solid #ffffff;
}
.simple-text {
    font-size: 16px;
    color: #333333;
}
.header {
    text-align: center;
    padding: 40px 20px;
}



.image-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}


.hero-image {
    width: 420px;      
    height: 260px;     
    object-fit: cover; 
    border-radius: 10px;
}
.signup-form{
    margin-left: 40px;
    align-items: center;
}